body{
    margin: 0;
}

.grid-timer{
    grid-row: 2/3;
    grid-column: 3/4;
}

.panel-container{
    grid-row: 3/3;
    grid-column: 2/3;
}
.memory-bg{
    background-image:url('http://localhost:3000/assets/img/lake.jpg') ;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto 1fr 1fr auto auto auto;
}

.grid-container{
    grid-row: 3/3;
    grid-column: 3/4;
    .grid-card{
        display: grid;
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(3, 150px);
        grid-gap: 10px;
    }
}
.card {
    max-height: 150px;
    background-color: white;
    border: none;
    box-shadow: 0 6px 11px -2px rgba(0, 0, 0, 0.54);
    transform-style: preserve-3d;
    overflow: hidden;
    transition: .5s ease-in-out all;
    
    img {
        width: 100%;
        transition: .2s ease-in-out all;
        // opacity: 0; pour rendre animable, mettre à 1
        opacity: 0;
    }
    
    &.-isFlipped{
        transition: .5s ease-in-out all;
        transform: rotateY(180deg);
        img {
            transition: .5s ease-in-out all;
            opacity: 1;
        }
    }
}
