.c-chrono-player{
    width: 300px;
    height: 300px;
    
    > .box-circle{
        width: 250px;
        height: 250px;
        transform-origin: center; /* or transform-origin: 50% */
        transform-box: fill-box;
    }
    
    > .box-circle.is-played{
        transform: scale(0.5);
    }
    
    > .box-circle.is-animated0 {
        animation: 4s zoomCircle1 linear;
    }
    > .box-circle.is-animated1{
        animation: 7s linear;
        transform: scale(1);
    }
    > .box-circle.is-animated2{
        animation: zoomCircle3 8s linear;
    }
    
    > .circle-overlay{
        width: 251px;
        height: 251px;
        background-color: rgba(255,255,255,.2);
    }

}

@keyframes zoomCircle1 {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes zoomCircle3{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.5);
    }
}

