.c-cardio-player{
    width: 300px;
    height: 300px;

    .less::before{
        opacity: 1;
        height: 1.5px;
        width: 15px;
        position: absolute;
        top: 25px;
        left: 17px;
        display: block;
        content: '';
        border-radius: 50px;
        background-color: #fff;
    }

    .more::before{
        height: 1.5px;
        width: 15px;
        position: absolute;
        top: 25px;
        left: 17px;
        display: block;
        content: '';
        border-radius: 50px;
        background-color: #fff;
    }

    .more::after{
        height: 15px;
        width: 1.5px;
        position: absolute;
        top: 18px;
        left: 24px;
        display: block;
        content: '';
        border-radius: 50px;
        background-color: #fff;
    }
}

.c-cardio-player > svg{
    &.is-animated-1{
        animation:5s linear 0s zoomHeart1 forwards;
    }
    &.is-animated-2{
        animation:5s linear 0s zoomHeart2 forwards;
    }
}

@keyframes zoomHeart1 {
    0% {
        transform: scale(0.6);
        stroke-dashoffset: 0px;
    }

    100% {
        transform: scale(1);
        stroke-dashoffset: 0px;
    }
}

@keyframes zoomHeart2 {
    0% {
        transform: scale(1);
        stroke-dashoffset: 0px;
    }

    100% {
        transform: scale(0.6);
        stroke-dashoffset: 0px;
    }
}